:root {
    --primary-text-color: #fcfcfc;
    --secondary-text-color: #131313;
    --button-background-default: #f8d24e;
    --button-background-hover: #0a8817;
    --button-background-disabled: #ababab;
    --address-color: #d6936d;
    --primary-background-color: #84a178;
    --marker-background-color: #D9D9D9;

}