<section id="about" class="about">
  <div class="container">
    <p class="section-uptitle about-uptitle">tradition and love</p>
    <h2 class="section-title about-title">how it’s made?</h2>
    <div class="about-content-wrap">
      <div class="about-image-wrap">
        <div class="about-image-ground"></div>
        <div class="about-image">
          <picture>
            <source
              srcset="
                ./images/cow-about-dtop-1x.jpg 1x,
                ./images/cow-about-dtop-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/cow-about-tab-1x.jpg 1x,
                ./images/cow-about-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/cow-about-mob-1x.jpg 1x,
                ./images/cow-about-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/cow-about-dtop-1x.jpg" alt="Cow" width="490px"/>
          </picture>
        </div>
      </div>
      <div class="about-text-wrap">
        <p class="about-text-up">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about-text-down">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about-text-extra">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button
          type="button"
          class="btn about-button js-open-modal"
          data-modal="2"
        >
          <span class="about-button-text">Read more</span>
          <svg class="about-button-icon" width="12px" height="12px">
            <use href="/src/images/sprite.svg#arrow-small"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
