
<section class="advantages">
  <div class="container">
    <h2 class="advantages__title visually-hidden">Наші переваги</h2>
    <ul class="list advantages__list">
      <li class="advantages__items">
        <div class="advantages__icon-cow"></div>
        <p class="advantages__figures">721</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__items">
        <div class="advantages__icon-weight"></div>
        <p class="advantages__figures">16kg</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__items">
        <div class="advantages__icon-ice"></div>
        <p class="advantages__figures">84</p>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
