<footer>
  <div class="footer container">
    <div class="footer__title-wrap">
      <p class="footer__title1">homemade ice cream made</p>
      <p class="footer__title2">with passion</p>
    </div>
    <div class="footer__soc-wrap">
      <ul class="footer__social-list list">
        <li class="footer__item-soc"><a class="footer__soc-link link" href="https://github.com/" target="_blank">
            <svg class="footer__icon" width="20" height="20">
              <use href="./images/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item-soc"><a class="footer__soc-link link" href="https://web.telegram.org/k/" target="_blank">
            <svg class="footer__icon" width="20" height="16">
              <use href="./images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item-soc"><a class="footer__soc-link link" href="https://www.facebook.com/" target="_blank">
            <svg class="footer__icon" width="9" height="20">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__text-tel">Feel free to contact <a href="tel:+61(0)383766284" class="footer__tel link">+61 (0) 383 766 284</a></p>
    </div>
  </div>
  <div class="right-container">
    <p class="footer__rights1">&#169; 2022 - IceCream.
     <span class="footer__rights2"> All Rights Reserved.</span></p>
  </div>
</footer>