<!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->

<!-- 
    ❗️❗️❗️ Не додавай в css назви стилів: container, list, link, btn, 
    вони уже є глобально і це може змінити верстку іншим. 

    В твоїй секції нема section-title, краще використай main-title, або 
    задай стиль для заголовка через селектор тега, він все-одно не повториться
    на сайті.
    
    Додав змінні для деяких кольорів, тому використовуй:
    1. для світлого шрифта колір var(--primary-text-color);
    2. для темного шрифта колір var(--secondary-texet-color);
    3. дефолтний колір кнопки var(--button-background-default);
    4. ховер для кнопки var(--button-background-hover);
    5. колір вимкненої кнопки var(--button-background-disabled);

    Глобально додав шрифти, тому не треба вказувати font-family. 

    Додай додатковий div з класом container, для нього уже прописані стилі.

 Медіа-правила є в міксінах, тому додавай через @include mobile, @include tablet, 
 @include desktop
 
    Глобально додав скидання стилів і додав курсор при ховері, тому використовуй 
    для кнопки додатковий клас - btn , для ссилок - link , для списка - list  -->

<!-- стрілка в спрайті #arrow-big -->

<h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam ipsam minus facilis labore rerum omnis quaerat officia rem et cumque doloribus, beatae temporibus cum. Doloremque officiis aliquam explicabo fugit repellendus.</h1>