
<div class="container">
    <div class="modal-location modal" data-modal="1">
        <button type="button" class="location-close btn js-modal-close">
          <svg width="20" height="20" class="location-close__icon">
            <use href="./images/sprite.svg#menu-close"></use>
          </svg>
        </button>
      <h2 class="location-title">Our Locations</h2>
        <iframe class="location-map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15727.700175123324!2d34.56253952447126!3d49.58602445243034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1671832446294!5m2!1sru!2sua"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      <a href="https://goo.gl/maps/nsUCMVRpHUrt4Cxp7" class="location-open link" target="_blank" rel="noopener noreferrer">
        <button type="button" class="open-map btn">Open map</button>
      </a>
    </div>
</div>


    
    
   