<div class="container container-buy-now modal" data-modal="6">
  <button type="button" class="btn modal-buy-now__close-btn js-modal-close" >
    <svg width="20" height="20">
      <use href="./images/sprite.svg#modal-close"></use>
    </svg>
  </button>
<h2 class="buy-now-title">Buy now</h2>
<ul class="buy-now-card-set">


  <li class="buy-now-card-set__item">
      <div class="buy-now-card-set__circle buy-now-card-set__circle--green"></div>
      <img class="buy-now-card-set__img" 
        srcset="
          ./images/buy-now/buy-now-ice-cream.jpg 1x,
          ./images/buy-now/buy-now-ice-cream@2x.jpg 2x" 
        src="./images/buy-now/buy-now-ice-cream.jpg" 
        alt="ice-cream"
        loading="lazy"
      />
    <form>
      <input 
        class="buy-now-card-set__input" 
        type="checkbox" 
        name="ice-cream" 
        value="ice-cream" 
        id="ice-cream"
      />
      <label for="ice-cream" class="buy-now-card-set__label buy-now-card-set__label--green">
        <h3 class="buy-now-card-set__title">ice cream</h3>
      </label>
    </form>
  </li>

  <li class="buy-now-card-set__item">
      <div class="buy-now-card-set__circle buy-now-card-set__circle--yellow"></div>
      <img class="buy-now-card-set__img"
        srcset="
          ./images/buy-now/buy-now-ice-coffee.jpg 1x,
          ./images/buy-now/buy-now-ice-coffee@2x.jpg 2x" 
        src="./images/buy-now/buy-now-ice-coffee.jpg" 
        alt="ice-coffe" 
        loading="lazy"
      />
    <form>
      <input 
          class="buy-now-card-set__input"
          type="checkbox"
          name="ice-coffee"
          value="ice-coffee"
          id="ice-coffee"
          checked
          />      
      <label 
        for="ice-coffee" class="buy-now-card-set__label buy-now-card-set__label--yellow">
          <h3 class="buy-now-card-set__title">ice coffee</h3>
      </label>
    </form>
  </li>

  <li class="buy-now-card-set__item">
      <div class="buy-now-card-set__circle buy-now-card-set__circle--orange"></div>
      <img class="buy-now-card-set__img"
        srcset="
          ./images/buy-now/buy-now-milkshake.jpg 1x,
          ./images/buy-now/buy-now-milkshake@2x.jpg 2x" 
        src="./images/buy-now/buy-now-milkshake.jpg" 
        alt="milkshake" 
        loading="lazy"
      />
    <form>
      <input 
        class="buy-now-card-set__input" 
        type="checkbox" 
        name="milkshake" 
        value="milkshake" 
        id="milkshake" 
      />
      <label for="milkshake" class="buy-now-card-set__label buy-now-card-set__label--orange">
          <h3 class="buy-now-card-set__title">milkshake</h3>
      </label>
    </form>
  </li>
</ul>

<!-- Форма -->
  <form name="modal-buy-now-form" class="modal-buy-now-form" autocomplete="off">
    <div class="modal-buy-now-form__wrap">
        <input 
          name="username" 
          type="text" 
          class="modal-buy-now-form__input" 
          placeholder="Name" 
          pattern="[A-Za-z]{2,}" 
          title="Two or more letters A-Z/a-z"
          id="modal-buy-now-form-user-name" 
          required />
        <label class="modal-buy-now-form__label" for="modal-buy-now-form-user-name">Name</label>
    </div>
    <div class="modal-buy-now-form__wrap">
        <input 
          name="tel" 
          type="tel" 
          class="modal-buy-now-form__input" 
          placeholder="Phone" 
          pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" 
          title="+38 (050) 222-22-22" 
          id="modal-buy-now-form-tel"
          required />
        <label class="modal-buy-now-form__label" for="modal-buy-now-form-tel">Phone</label>
    </div>
    <div class="modal-buy-now-form__wrap">
        <textarea 
          name="comment" 
          class="modal-buy-now-form__comment" 
          placeholder="Comment"
          id="modal-buy-now-comment"></textarea>
        <label class="modal-buy-now-form__label" for="modal-buy-now-comment">Comment</label>
    </div>
    <button type="submit" class="btn modal-buy-now-form__btn">Submit</button>
  </form>
</div>

