<div class="container container-buy-now modal" data-modal="6">
  <button type="button" class="btn modal-buy-now__close-btn js-modal-close" >
    <svg width="20" height="20">
      <use href="./images/sprite.svg#modal-close"></use>
    </svg>
  </button>
<h2 class="buy-now-title">Buy now</h2>
<ul class="ul-ice-buy-nov">
  <li class="li-ice-buy-one">
    <div class="picture-div-byu-now">
    <picture class="picture-ice-byu-now">
      <source srcset="
                    ./images/by-now-img/Ice-1-1200-780bynow.jpg 1x,
                    ./images/by-now-img/Ice-1-1200-780bynow-2x.jpg 2x" media="(min-width: 1200px)" />
      <source srcset="
                    ./images/by-now-img/Ice-1-1200-780bynow.jpg 1x,
                    ./images/by-now-img/Ice-1-1200-780bynow-2x.jpg 2x" media="(min-width: 768px)" />
      <source srcset="
                    ./images/by-now-img/Ice-1-480px-bynow.jpg 1x,
                    ./images/by-now-img/Ice-1-480px-bynow-2x.jpg 2x" media="(min-width: 480px)" />
      <img src="./images/by-now-img/Ice-1.jpg" alt="ice cream" />
    </picture>
    </div>
    <p class="name-ice-buy-now">ice cream</p>
  </li>
  <li class="li-ice-buy-too">
    <div class="picture-div-byu-too">
    <picture class="picture-ice-byu-now">
      <source srcset="
                      ./images/by-now-img/Ice-2-1200-780bynow.jpg 1x,
                      ./images/by-now-img/Ice-2-1200-780bynow-2x.jpg 2x" media="(min-width: 1200px)" />
      <source srcset="
                      ./images/by-now-img/Ice-2-1200-780bynow.jpg 1x,
                      ./images/by-now-img/Ice-2-1200-780bynow-2x.jpg 2x" media="(min-width: 768px)" />
      <source srcset="
                      ./images/by-now-img/Ice-2-480pxbynow.jpg 1x,
                      ./images/by-now-img/Ice-2-480pxbynow-2x.jpg 2x" media="(min-width: 480px)" />
      <img src="./images/by-now-img/Ice-2.jpg" alt="ice cream" />
    </picture>
    </div>
    <svg class="fon-yellow-buy-now" width="132" height="132">
    </svg>
    <p class="name-ice-buy-now">ice coffee</p>
  </li>
  <li class="li-ice-buy-free">
    <div class="picture-div-byu-free">
    <picture  class="picture-ice-byu-now">
      <source srcset="
                      ./images/by-now-img/Ice-3-1200-780bynow.jpg 1x,
                      ./images/by-now-img/Ice-3-1200-780bynow-2x.jpg 2x" media="(min-width: 1200px)" />
      <source srcset="
                      ./images/by-now-img/Ice-3-1200-780bynow.jpg 1x,
                      ./images/by-now-img/Ice-3-1200-780bynow-2x.jpg 2x" media="(min-width: 768px)" />
      <source srcset="
                      ./images/by-now-img/Ice-3-480pxbynow.jpg 1x,
                      ./images/by-now-img/Ice-3-480pxbynow-2x.jpg 2x" media="(min-width: 480px)" />
      <img src="./images/by-now-img/Ice-3.jpg" alt="coffee ice cream" />
    </picture>
    </div>
    <p class="name-ice-buy-now">milkshake</p>
  </li>
</ul>

<!-- Форма -->
  <form name="modal-buy-now-form" class="modal-buy-now-form" autocomplete="off">
    <div class="modal-buy-now-form__wrap">
        <input 
          name="username" 
          type="text" 
          class="modal-buy-now-form__input" 
          placeholder="Name" 
          pattern="[A-Za-z]{2,}" 
          title="Two or more letters A-Z/a-z"
          id="modal-buy-now-form-user-name" 
          required />
        <label class="modal-buy-now-form__label" for="modal-buy-now-form-user-name">Name</label>
    </div>
    <div class="modal-buy-now-form__wrap">
        <input 
          name="tel" 
          type="tel" 
          class="modal-buy-now-form__input" 
          placeholder="Phone" 
          pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" 
          title="+38 (050) 222-22-22" 
          id="modal-buy-now-form-tel"
          required />
        <label class="modal-buy-now-form__label" for="modal-buy-now-form-tel">Phone</label>
    </div>
    <div class="modal-buy-now-form__wrap">
        <textarea 
          name="comment" 
          class="modal-buy-now-form__comment" 
          placeholder="Comment"
          id="modal-buy-now-comment"></textarea>
        <label class="modal-buy-now-form__label" for="modal-buy-now-comment">Comment</label>
    </div>
    <button type="submit" class="btn modal-buy-now-form__btn">Submit</button>
  </form>
</div>

