<!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->

<!-- 
    ❗️❗️❗️ Не додавай в css назви стилів: container, list, link, btn, 
    вони уже є глобально і це може змінити верстку іншим. 

    В твоїй секції нема section-title, використай modal-title (він уже є в css)
    
    Додав змінні для деяких кольорів, тому використовуй:
    1. для світлого шрифта колір var(--primary-text-color);
    2. для темного шрифта колір var(--secondary-texet-color);
    3. дефолтний колір кнопки var(--button-background-default);
    4. ховер для кнопки var(--button-background-hover);
    5. колір вимкненої кнопки var(--button-background-disabled);

    Глобально додав шрифти, тому не треба вказувати font-family. 

    Не додавай клас modal-container, або modal-wrap, modal-form, modal-input,
     modal-button або щось подібне. 
    Хтось може використати такі ж назви. Краще додавай класи з назвою своєї модалки.

 Медіа-правила є в міксінах, тому додавай через @include mobile, @include tablet, 
 @include desktop
 
    Глобально додав скидання стилів і додав курсор при ховері, тому використовуй 
    для кнопки додатковий клас - btn , для ссилок - link , для списка - list  -->

<!-- хрестик в спрайті #modal-close -->
<!-- modal-franchise-->
<div class="backdrop-franchise " data-modal>
  <div class="modal-franchise">
    <button class="modal-franchise__close--button" type="button" data-modal-close>
      <span class="modal-franchise__img">
        <svg class="modal-franchise__icon" width="20" height="20">
          <use href="./images/sprite.svg#menu-close"></use>
        </svg>
      </span>
    </button>
    <h2 class="modal-franchise__text">Thank you for your interest in owning an Ice Cream shop</h2>
    <p class="modal-franchise__description">Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once
      the application process resumes, we will contact you for further information. Please fill out the contact
      information
      below and we will reach out for additional information. We appreciate your patience.</p>
    <form class="franchise-form" action="franchise-form" autocomplete="off" novalidate>
      <div class="franchise-form__input-list">
        <div class="franchise-form__wrapper">
          <input class="franchise-form__input" id="person-name" type="text" name="person-name" placeholder="Name"
            required />

        </div>
      </div>
      <div class="franchise-form__input-list">
        <div class="franchise-form__wrapper">
          <input class="franchise-form__input" id="person-phone" type="tel" name="person-phone" placeholder="Phone"
            required />

        </div>
      </div>
      <div class="franchise-form__input-list">
        <div class="franchise-form__wrapper">
          <input class="franchise-form__input" id="person-mail" type="email" name="person-mail" placeholder="Email"
            required />
        </div>
      </div>

      <textarea class="franchise-form__textarea" name="person-comment" id="person-comment"
        placeholder="Comment"></textarea>


      <button class="btn franchise-form__button" type="submit" data-modal-open>
        Submit
      </button>
    </form>
  </div>
</div>