
  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->

  <!-- 
    ❗️❗️❗️ Не додавай в css назви стилів: container, list, link, btn, 
    вони уже є глобально і це може змінити верстку іншим. 

    В твоїй секції нема section-title, використай modal-title (він уже є в css)
    
    Додав змінні для деяких кольорів, тому використовуй:
    1. для світлого шрифта колір var(--primary-text-color);
    2. для темного шрифта колір var(--secondary-texet-color);
    3. дефолтний колір кнопки var(--button-background-default);
    4. ховер для кнопки var(--button-background-hover);
    5. колір вимкненої кнопки var(--button-background-disabled);

    Глобально додав шрифти, тому не треба вказувати font-family. 

    Не додавай клас modal-container, або modal-wrap, modal-form, modal-input,
     modal-button або щось подібне. 
    Хтось може використати такі ж назви. Краще додавай класи з назвою своєї модалки.

 Медіа-правила є в міксінах, тому додавай через @include mobile, @include tablet, 
 @include desktop
 
    Глобально додав скидання стилів і додав курсор при ховері, тому використовуй 
    для кнопки додатковий клас - btn , для ссилок - link , для списка - list  -->

<!-- хрестик в спрайті #modal-close -->

<div class="modal-location modal" data-modal="1">
    <button type="button" class="location-close btn js-modal-close">
      <svg width="20" height="20" class="location-close__icon">
        <use href="./images/sprite.svg#menu-close"></use>
      </svg>
    </button>
  <h2 class="location-title">Our Locations</h2>
    <iframe class="location-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15727.700175123324!2d34.56253952447126!3d49.58602445243034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1671832446294!5m2!1sru!2sua"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  <a href="https://goo.gl/maps/nsUCMVRpHUrt4Cxp7" class="location-open link" target="_blank" rel="noopener noreferrer">
    <button type="button" class="open-map btn">Open map</button>
  </a>
</div>


    
    
   