
  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->

  <!-- В твоїй модалці на макеті заголовок на всіх пристроях однаковий, 
тому не використовуй клас з назвою modal-title, а використай наприклад 
modal-products-title -->

<!-- 
    ❗️❗️❗️ Не додавай в css назви стилів: container, list, link, btn, 
    вони уже є глобально і це може змінити верстку іншим. 
    
    Додав змінні для деяких кольорів, тому використовуй:
    1. для світлого шрифта колір var(--primary-text-color);
    2. для темного шрифта колір var(--secondary-texet-color);
    3. дефолтний колір кнопки var(--button-background-default);
    4. ховер для кнопки var(--button-background-hover);
    5. колір вимкненої кнопки var(--button-background-disabled);

    Глобально додав шрифти, тому не треба вказувати font-family. 

    Не додавай клас modal-container, або modal-wrap, modal-form, modal-input,
     modal-button або щось подібне. 
    Хтось може використати такі ж назви. Краще додавай класи з назвою своєї модалки.

 Медіа-правила є в міксінах, тому додавай через @include mobile, @include tablet, 
 @include desktop
 
    Глобально додав скидання стилів і додав курсор при ховері, тому використовуй 
    для кнопки додатковий клас - btn , для ссилок - link , для списка - list  -->

<!-- хрестик в спрайті #modal-close -->



<!-- <div class="modal-products-backdrop is-hidden" data-modal> -->
  <div class="modal-products">
    <article>
      <button type="button" class="btn modal-products__close-btn" data-modal-close>
          <svg aria-label="закрити" width="12px" height="12px">
            <use href="./images/sprite.svg#modal-close"></use>
          </svg>
      </button> 
      <h2 class="modal-products__title">Chololate icecream</h2>

      <div class="modal-products__image-wrap">
        <span class="modal-products__image"></span>
        <span class="modal-products__bgr"></span>
      </div>

      <!---------------- Мікроелементи ------------->
      <ul class="composition-set">
        <li class="composition-set__item">
          <span class="composition-set__value">320</span>
          <p class="composition-set__name">kcal</p>
        </li>
        <li class="composition-set__item">
          <span class="composition-set__value">4g</span>
          <p class="composition-set__name">Protein...</p>
        </li>
        <li class="composition-set__item">
          <span class="composition-set__value">8,2g</span>
          <p class="composition-set__name">Fats</p>
        </li>
        <li class="composition-set__item">
          <span class="composition-set__value">40,4g</span>
          <p class="composition-set__name">Carbs</p>
        </li>
      </ul>
      <!-------------------- Інгрідієнти ----------------------->
      <h3 class="ingredients__title">Ingredients</h3>
      <ul class="ingredients-set">
        <li class="ingredients-set__item">
          <p>Milk</p>
          <span>100ml</span>
        </li>
        <li class="ingredients-set__item">
          <p>Belgian chocolate</p>
          <span>20g</span>
        </li>
        <li class="ingredients-set__item">
          <p>Cream</p>
          <span>150 ml</span>
        </li>
        <li class="ingredients-set__item">
          <p>Cocoa powder</p>
          <span>30g</span>
        </li>
        <li class="ingredients-set__item">
          <p>Sugar</p>
          <span>40g</span>
        </li>
        <li class="ingredients-set__item">
          <p>Vanilla sugar</p>
          <span">10g</span>
        </li>
      </ul>
    </article>
    <!-------------------- Форма ----------------------->
    <form name="modal-products-order-form" class="modal-products-form" autocomplete="off">
      <div class="modal-products-form__wrap">
        <input type="text" name="username" class="modal-products-form__input" id="modal-products-user-name" required />      
        <label class="modal-products-form__label" for="modal-products-user-name">Name</label>
      </div>

      <div class="modal-products-form__wrap">
        <input type="tel" name="tel" class="modal-products-form__input" id="modal-products-tel" required />
        <label class="modal-products-form__label" for="modal-products-tel">Phone</label>
      </div>

      <div class="modal-products-form__wrap">
        <textarea name="comment" class="modal-products-form__comment" id="modal-products-comment"></textarea>
        <label class="modal-products-form__label" for="modal-products-comment">Comment</label>
      </div>

      <button type="submit" class="btn modal-products-form__btn">Submit</button>
    </form>
  <!-- </div> -->
</div>