<div class="modal-readmore modal" data-modal="2">
  <button class="modal-readmore-button btn js-modal-close">
    <svg class="modal-readmore-svg">
      <use href="./images/sprite.svg#modal-close"></use>
    </svg>
  </button>
  <h2 class="modal-title modal-readmore-title">How it’s made?</h2>
  <div class="video-frame">
    <iframe
      class="video-readmore"
      src="https://www.youtube.com/embed/zagD0LQdsDE"
      title="YouTube video player"
      loading="lazy"
      allow="accelerometer; encrypted-media; gyroscope"
      allowfullscreen
    ></iframe>
  </div>
  <p class="modal-readmore-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
