
<section class="products-section" id="products">
  <div class="container">
    <p class="section-uptitle products-uptitle">100% natural</p>
    <h2 class="section-title products-title">products</h2>
    <ul class="products-card-set">
      <li class="products-card-set__item">
        <h3 class="products-card-set__title">ice cream</h3>
        <p class="products-card-set__desk">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer</p>
        <button type="button" class="btn products-btn js-open-modal" data-modal="4">
          <svg aria-label="кнопка відкривання модального вікна для покупок" class="products-btn__icon" width="40" height="16">
            <use href="./images/sprite.svg#arrow-big"></use>
          </svg>
        </button>
      </li>
      <li class="products-card-set__item">
        <h3 class="products-card-set__title">ice coffee</h3>
        <p class="products-card-set__desk">Fragrant invigorating drink created from 100% natural ingredients without the
          use of preservatives and flavor enhancers</p>
        <button type="button" class="btn products-btn js-open-modal" data-modal="4">
          <svg aria-label="кнопка відкривання модального вікна для покупок" class="products-btn__icon" width="40" height="16">
            <use href="./images/sprite.svg#arrow-big"></use>
          </svg>
        </button>
      </li>
      <li class="products-card-set__item">
        <h3 class="products-card-set__title">ice cream</h3>
        <p class="products-card-set__desk">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
          berries and other sweets of your choice
        </p>
        <button type="button" class="btn products-btn js-open-modal" data-modal="4">
          <svg aria-label="кнопка відкривання модального вікна для покупок" class="products-btn__icon" width="40" height="16">
            <use href="./images/sprite.svg#arrow-big"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>