<section class="reviews">
  <h2 class="visually-hidden">reviews</h2>
  <div class="container">
    <div class="reviews-swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div>
            <img
              class="reviews__foto"
              srcset="
                ./images/imgreviewEmily@1x.jpg 1x,
                ./images/imgreviewEmily@2x.jpg 2x
              "
              src="./images/imgreviewEmily@1x.jpg"
              width="85"
              height="85"
              alt="foto Emily"
              style="display: block"
            />
          </div>
          <div class="reviews__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </div>
          <p class="reviews__custumer">Emily, Los Angeles</p>
        </div>

        <div class="swiper-slide">
          <div>
            <img
              class="reviews__foto"
              srcset="
                ./images/imgreviewBryan@1x.jpg 1x,
                ./images/imgreviewBryan@2x.jpg 2x
              "
              src="./images/imgreviewBryan@1x.jpg"
              width="85"
              height="85"
              alt="foto Bryan"
              style="display: block"
            />
          </div>
          <div class="reviews__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </div>
          <p class="reviews__custumer">Bryan, New-York</p>
        </div>

        <div class="swiper-slide">
          <div>
            <img
              class="reviews__foto"
              srcset="
                ./images/imgreviewDiana@2x.jpg 1x,
                ./images/imgreviewDiana@2x.jpg 2x
              "
              src="./images/imgreviewDiana@1x.jpg"
              width="85"
              height="85"
              alt="foto Diana"
              style="display: block"
            />
          </div>
          <div class="reviews__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </div>
          <p class="reviews__custumer">Diana, Chicago</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<!-- <div class="reviews__listmarker">
        <div class="reviews__marker"></div>
        <div class="reviews__marker reviews__marker--activ"></div>
      </div> -->
