
  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->

  <!-- 
    ❗️❗️❗️ Не додавай в css назви стилів: container, list, link, btn, section-title, 
    section-uptitle.
    вони уже є глобально і це може змінити верстку іншим. В твому випадку для секції
    додай стиль visually-hidden (він уже прописаний).
    
    Додав змінні для деяких кольорів, тому використовуй:
    1. для світлого шрифта колір var(--primary-text-color);
    2. для темного шрифта колір var(--secondary-texet-color);
    3. дефолтний колір кнопки var(--button-background-default);
    4. ховер для кнопки var(--button-background-hover);
    5. колір вимкненої кнопки var(--button-background-disabled);

    Глобально додав шрифти, тому не треба вказувати font-family. 

    Додай додатковий div з класом container, для нього уже прописані стилі.

 Медіа-правила є в міксінах, тому додавай через @include mobile, @include tablet, 
 @include desktop
 
      -->