.section-title {
    font-size: 30px;
    line-height: calc(38 / 30);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @include tablet {
        font-size: 34px;
        line-height: calc(43 / 34);
    }

    @include desktop {
        font-size: 36px;
        line-height: calc(45 / 36);
        letter-spacing: 0.06em;
    }
}