.section-uptitle {
    font-weight: 800;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-align: center;
    text-transform: uppercase;

    @include tablet {
        font-size: 22px;
        line-height: calc(27 / 22);
    }

    @include desktop {
        font-size: 30px;
        line-height: calc(37 / 30);
        letter-spacing: 0.04em;
    }
}