@mixin max-mob {
  @media screen and (max-width: 767px) {
    @content;
  }
}

footer {
  background-color: var(--primary-background-color);
}
.footer {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.footer__title-wrap {
  margin-bottom: 60px;
  @include mobile {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 352px;
  }
  @include tablet {
    margin-bottom: 32px;
  }
  @include desktop {
    margin-bottom: 60px;
    max-width: 100%;
  }
}
.footer__soc-wrap {
  margin-bottom: 40px;
  @include tablet {
    display: flex;
    justify-content: end;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
}
.footer__title1 {
  display: block;
  color: var(--primary-text-color);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 16px;

  @include tablet {
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  @include desktop {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}

.footer__title2 {
  display: block;
  color: var(--primary-text-color);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  @include tablet {
    font-size: 48px;
    line-height: 1.23;
    letter-spacing: 0.06em;
  }
  @include desktop {
    font-size: 58px;
    line-height: 1.22;
    letter-spacing: 0.06em;
  }
}

.footer__social-list {
  display: flex;
  gap: 20px;
  justify-content: end;
}

.footer__social-list {
  margin-bottom: 20px;
}

.footer__item-soc {
  width: 34px;
  height: 34px;
}

.footer__soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--button-background-default);

  &:hover .footer__icon,
  &:focus .footer__icon {
    fill: var(--primary-text-color);
  }
}

.footer__icon {
  fill: var(--primary-background-color);
}

.footer__text-tel {
  color: var(--secondary-text-color);
  text-align: right;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  margin-bottom: 0;
}
.footer__tel {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;

  &:hover,
  &:focus {
    color: var(--button-background-default);
  }
}

.right-container {
  border-top: 1px solid var(--primary-text-color);
}

.footer__rights1 {
  color: var(--rights-text-color);
  padding: 0 20px 20px 20px;
  text-align: center;
  margin-top: 20px;
}
.footer__rights2 {
  color: var(--rights-text-color);
  @include max-mob() {
    display: flex;
    justify-content: center;
  }
}
