.gallery {
  position: relative;
}

.gallery-position {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);

  @include tablet {
    top: -164px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include desktop {
    top: -94px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.img_gallery {
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  overflow: hidden;

  @mixin mobile {
    width: 279px;
    height: 130px;
  }

  @include tablet {
    width: 704px;
    height: 327px;
  }

  @include desktop {
    width: 1013px;
    height: 422px;
  }
}
