.header__container {
    background-color: #84A178;
    display: flex;
}

.header__navigation {
    display: flex;
    margin-right: auto;
}

.header__logo {
    margin-top: 12px;
    @include tablet {
        margin-top: 20px;
    }
    @include desktop {
        margin-top: 8px;
    }
}

.menu-open {
    background-color: transparent;
    fill: #FFFFFF;
    padding: 0;
    margin-top: 17px;
    @include tablet {
        margin-top: 29px;
    }

    @include desktop {
        display: none;
    }
}

.header__button {
    display: none;
    @include tablet {
        display: flex;
        min-width: 152px;
        height: 42px;
        background-color: #F8D24E;
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
        color: #000000; 
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 32px;
        margin-top: 24px;
        &:hover {
            background-color: #0A8817;
        }
        &:focus {
            background-color: #0A8817;
            color: #FFFFFF;
            fill: #FFFFFF;
        }
    }
         @include desktop {
            margin-top: 28px;
            margin-left: 204px;
         }
}

.header-button__icon {
    @include tablet {
        display: flex;
        margin-left: 4px; 
    }  
}

.button__wrap {
    @include tablet {
       display: flex; 
    }    
    @include desktop {
        align-items: flex-end;
    }
}

.site-navigation {
    display: none;

    @include desktop {
        display: flex;
        align-items: center;
        margin-left: 308px;
        gap: 28px;
        
    }
}

.site-navigation__link {
    @include desktop {
        color: #FCFCFC;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        padding-top: 40px;
        padding-bottom: 13px;
        display: block;
        &:hover,
        &:focus {
            color: #F8D24E;
        }
    }
}
