.container-buy-now {
    overflow: auto;
    padding: 28px 28px 29px 28px;
    min-width: 280px;
    width: calc(100% - 40px);
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    margin: 0 auto;
    z-index: 40;
    @media screen and (max-width: 767px) {
        height: 100vh;
        max-height: 960px;
    }
    @include mobile {
        width: 440px;
        padding: 32px 40px;
    }
    @include tablet {
        padding: 32px 54px;
        width: 568px;
        max-height: 960px;
    }
}

.modal-buy-now__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    &:hover,
    &:focus {
        fill: var(--button-background-hover);
        transform: scale(2);
    }
}

.buy-now-title {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 83px;
    @include tablet {
        font-size: 20px;
        line-height: calc(28 / 20);
        margin-bottom: 103px;
    }
}

// Картки з продуктами

.buy-now-card-set {
    margin-bottom: 31px;
    @include tablet {
        display: flex;
        gap: 32px;
        margin-bottom: 40px;
    }
}

.buy-now-card-set__item {
    position: relative;
    width: 132px;
    height: 135px; 
    border-radius: 15px; 
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 85px; 
        }
    }
    &:first-child {
        border: 2px solid #96AF8C;
        &:hover,
        &:focus {
            background: linear-gradient(0deg, rgba(156, 190, 143, 0.5), rgba(156, 190, 143, 0.7)),#D9D9D9;
        }
    }
    &:nth-child(2) {
        border: 2px solid #EFD478;
        &:hover,
        &:focus {
            background: linear-gradient(0deg, rgba(248, 210, 78, 0.5), rgba(248, 210, 78, 0.7)),#D9D9D9;
        }
    }
    &:nth-child(3) {
        border: 2px solid #D6936D;
        &:hover,
        &:focus {
            background: linear-gradient(0deg, rgba(213, 117, 63, 0.5), rgba(213, 117, 63, 0.7)),#D9D9D9;
        }
    }
}

.buy-now-card-set__circle {
    position: absolute;
    top: -56px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    &--green {
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    }
    &--yellow {
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }
    &--orange {
        background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
        box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }
}

.buy-now-card-set__img {
    position: absolute;
    top: -63px;
    display: inline-flex;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    z-index: 1;
    transition: top 300ms linear;
    .buy-now-card-set__item:hover &,
    .buy-now-card-set__item:focus & {
        top: -56px;
    }
}

.buy-now-card-set__title {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    padding-top: 95px;
}

// ------------------ Чекбокси -------------------

.buy-now-card-set__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.buy-now-card-set__label {
    position: absolute;
    top: 0;
    width: 128px;
    height: 131px;
    display: block;
    border-radius: 13px;
    @include tablet { 
        width: 127px;
    }
}

.buy-now-card-set__input:checked+.buy-now-card-set__label--green {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.5), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.buy-now-card-set__input:checked + .buy-now-card-set__label--yellow {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.5), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}
.buy-now-card-set__input:checked+.buy-now-card-set__label--orange {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.5), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

//-------------------- Форма -----------------------
.modal-buy-now-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include tablet {
        align-items: center;
    }
    &__wrap {
        position: relative;
    }
    &__input {
        height: 42px;
        width: 100%;
        padding-left: 10px;
        background: rgba(248, 210, 78, 0.1);
        border: 1px solid var(--primary-background-color);
        border-radius: 10px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @include tablet {
            width: 368px;
        }
        &:hover,
        &:focus {
            border: 2px solid var(--button-background-hover);
        }
        &::placeholder {
            color: var(--secondary-text-color);
        }
        &:valid:not(:placeholder-shown) {
            background-color: rgba(153, 205, 50, 0.315);
        }
        &:not(:valid):not(:placeholder-shown) {
            background-color: rgba(184, 59, 59, 0.24);
        }
    }
    &__label {
        display: none;
        position: absolute;
        top: 11px;
        left: 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(17 / 12);
        color: var(--secondary-text-color);
        @include tablet {
            font-size: 14px;
            line-height: calc(20 / 14);
        }
    }
    &__comment {
        height: 84px;
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
        background: rgba(248, 210, 78, 0.1);
        border: 1px solid var(--primary-background-color);
        border-radius: 10px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        resize: none;
        @include tablet {
            width: 368px;
        }
        &:hover,
        &:focus {
            border: 2px solid var(--button-background-hover);
        }
        &::placeholder {
            color: var(--secondary-text-color);
        }
    }
    &__input:focus-within,
    &__comment:focus-within {
        border: none;
        outline: 1px solid var(--button-background-hover);
    }
    &__input:not(:placeholder-shown)+.modal-buy-now-form__label,
    &__comment:not(:placeholder-shown)+.modal-buy-now-form__label {
        display: block;
        @media screen and (max-width: 767px) {
            top: -15px;
            color: var(--primary-background-color);
            font-weight: 400;
            font-size: 10px;
            line-height: calc(12 / 10);
        }
        @include tablet {
            left: -80px;
        }
    }
    // --------------Кнопка----------------
    &__btn {
        width: 132px;
        height: 42px;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--button-background-default);
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: calc(17 / 14);
        color: var(--secondary-text-color);
        @include tablet {
            width: 121px;
        }
        &:hover {
            background-color: var(--button-background-hover);
        }
        &:focus {
            color: #fff;
        }
        &:disabled {
            background-color: #ABABAB;
        }
    }
}