.modal-readmore {
   position: relative;
   width: 280px;
   height: 459px;
   padding: 28px;
   background: #FCFCFC;
   border: 2px solid #F8D24E;
   border-radius: 10px;
}

.modal-readmore-title {
   text-align: center;
   margin-bottom: 20px;
}

.video-frame {
   width: 224px;
   height: 199px;
   margin-bottom: 20px;}

.modal-readmore-text {
   font-size: 14px;
   line-height: calc(20 / 14);   
   color: var(--secondary-text-color);
}

.video-readmore {
   width: 224px;
   height: 199px;
}

.modal-readmore-button {
   position: absolute;
   top: 12px;
   right: 12px;
   width: 20px;
   height: 20px;
   background-color: transparent;
}