.modal-readmore {

   width: 280px;
   height: 459px;
   padding: 28px;
   background: #FCFCFC;
   border: 2px solid #F8D24E;
   border-radius: 10px;   
   @include tablet {
      width: 568px;
      height: 449px;
      padding: 32px 60px;

   }
}
//Зберіг сюди, щоб не шукати потім\\
// .modal.active,
// .overlay.active {
//     opacity: 1;
//     visibility: visible;

.modal-readmore-title {
   text-align: center;
   margin-bottom: 20px;
   @include tablet {
      margin-bottom: 32px;
   }
}

.video-frame {
   width: 224px;
   height: 199px;
   margin-bottom: 20px;
   @include tablet {
      width: 448px;
      height: 205px;
   margin-bottom: 32px;}
}

.modal-readmore-text {
   font-size: 14px;
   line-height: calc(20 / 14);   
   color: var(--secondary-text-color);
   @include tablet {
      font-size: 16px;
      line-height: calc(22 / 16);
   }
}

.video-readmore {
   width: 224px;
   height: 199px;
   border-radius: 10px;
   @include tablet {
         width: 448px;
         height: 205px;
      }
}

.modal-readmore-button {
   position: absolute;
   top: 12px;
   right: 12px;
   width: 20px;
   height: 20px;
   background-color: transparent;
   @include tablet {
         width: 24px;
         height: 24px;
      }
      &:hover, &:focus .modal-readmore-svg {
         fill: #0a8817;
      }
}

.modal-readmore-svg {
   width: 20px;
   height: 20px;
@include tablet {
      width: 24px;
      height: 24px;
   }}