.by-now-title{
         font-family: 'Seymour One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.4;
        align-items: center;
        text-align: center;
        color: #131313;
        flex-wrap: wrap;
        padding-bottom: 20px;
        margin-bottom: 63px;

        @media screen and (min-width:768px) {
                margin-bottom: 40px;
                flex-wrap: nowrap;
            }
}
.name-ice-buy-nov{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #131313;
}
.ul-ice-buy-nov {
    display: flex;
    box-sizing:content-box;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @media screen and (min-width:768px) {
        flex-direction: row;
        gap: 32px;
    }
}
.name-ice-buy-nov{
    margin-top: 96px;
    margin-bottom: 20px;
    @media screen and (min-width:768px) {
            margin-top: 26px;
            margin-bottom: 20px;
}}
.form-buy-naw{
    display: flex;
    flex-direction: column;
    margin-top: 11px;
    margin-bottom: 26px;
    color: #131313;
    @media screen and (min-width:768px) {
            margin-top: 19px;
            margin-bottom: 32px;
            justify-content: center;
            align-items: center;

        }
}
.label-name-input-buy{
    margin-bottom: 12px;
    @media screen and (min-width:768px) {
            margin-bottom: 16px;
        }
}
.container-buy-naw{
    position: absolute;
    padding: 28px 28px 29px 28px;
    max-width:280px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: content-box;
    @media screen and (min-width:768px) {
            padding: 32px 54px 32px 54px;
            max-width: 568px;
        }
}
.button-buy-nav{
    background: #F8D24E;
    border-radius: 10px;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.2;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #131313;
        border: none;
    width: 121px;
    height: 42px;
}
.div-btn-buy-now{
    display: flex;
    justify-content: center;
    align-items: center;
}
.label-name-input-buy{
   max-width: 224px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #131313;
        padding: 8px 12px;
        min-height: 32px;
        @media screen and (min-width:768px) {
                min-width: 368px;
            }
}
.label-comment-input-buy{
    max-width: 224px;
        background: rgba(248, 210, 78, 0.1);
        border: 1px solid #84A178;
        border-radius: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        padding: 8px 12px;
        min-height: 65px;
        text-align: start;
        @media screen and (min-width:768px) {
                min-width: 368px;
            }
}
textarea::placeholder {
    color: #131313;
}
input::placeholder {
    color: #131313;
}
.li-ice-buy-one{
    border-bottom: 2px solid #96AF8C;
    border-left: 2px solid #96AF8C;
    border-right: 2px solid #96AF8C;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15px;
    position: relative;
    display: block;
    width: 132px;
    height: 136px;
    background: #FCFCFC;
        background-image:
                url(../images/by-now-img/Ellipse102x.jpg);
            background-position-x: center;
            background-position-y: -67px;
            background-repeat: no-repeat;
box-sizing: content-box;
        
}
// .li-ice-buy-one::after{
//     content: url(../images/by-now-img/Ellipse102x.jpg);
//     position: absolute;
//     border-radius: 50%;
//     width: 132px;
//     height: 132px;
// }
// .fon-green-buy-now{
//     position: absolute;
//     width: 132px;
//     height: 132px;
//     bottom:67px;
// }
.picture-div-byu-now{
    z-index: -1;
    width: 132px;
    height: 132px;
    position: absolute;
    bottom: 60px;
    left: 0;
    
}
// .li-ice-buy-one::after{
//     position: absolute;
//     content: '';
//     display: block;
//     width: 132px;
//     height: 136px;
// border: #84A178;

// }

.picture-ice-byu-now {
    display:block;
    width: 132px;
    height: 132px;
}
.picture-ice-byu-now img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.menu-clouse-byu{
    background: #FCFCFC;
    margin-right: auto;
    border: none;
    position: absolute;
    top:17px;
    right: 17px;
}